{
  "extends": "standard",
  "env": {
    "node": true,
    "browser": true,
    "es2020": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  }
}
